.footer-widget{
  display: block;
  max-width: 1320px;
  margin: 0 auto;

  .trust-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin-bottom: 0px;
        padding: 0px 10px;
      }
      img {
        margin-bottom: 0px;
      }
    }
    margin-top: -30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(40, 42, 44, 0.1);

    @media (max-width: 768px) {
      flex-direction: column;
      div {
        margin-top: 15px;
      }
    }
  }

  .first-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    .footer-block {
      width: 33%;
      padding: 0 60px;

      > img {
        margin-bottom: 20px;
      }
      label {
        font-size: 18px;
        color: #6C738A;
        margin-bottom: 15px;
      }
      p {
        color: #6C738A;
        font-size: 15px;
        font-weight: 300;
        line-height: 22px;

        &.terms {
          font-size: 9px;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 12px;

          span {
            margin-right: 10px;
          }
          a {
            color: #6C738A;
            text-decoration: underline;
          }
        }
      }
      .form {
        input {
          display: block;
          width: 100%;
          height: 37px;
          background: #FFFFFF;
          border: 0.5px solid rgba(108, 115, 138, 0.2);
          box-sizing: border-box;
          padding-left: 15px;
          border-radius: 3px;
          margin-bottom: 10px;
        }

        button {
          height: 37px;
          width: 100%;
          background: linear-gradient(353.71deg, #FF4B9C -19.34%, #EF7B40 51.62%);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0701427);
          border-radius: 3px;
          color: white;
          font-weight: 500;
          font-size: 12px;
        }
      }
      
      .site-links {
        a {
          color: #6C738A;
          font-size: 15px;
          cursor: pointer;
          display: block;
        }
      }
      
      .social-links {
        display: flex;
        width: 100%;
        padding: 0px;
        margin-left: -15px;
        margin-bottom: 25px;
        a {
          height: 50px;	width: 50px;	background-color: #FFFFFF;	box-shadow: 0 10px 15px 0 rgba(40,42,44,0.12);
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 15px;
          .fa {
            color: #6C738A;
            font-size: 30px;
          }
        } 
      }

      .co-block {
        margin-bottom: 25px;
        img {
          margin-bottom: 0px;
        }
      }

      .store-block {
        justify-content: flex-end;
      }

      &:first-child {
        border-right: 1px solid rgba(108, 115, 138, 0.2);
        padding-left: 0px;
        @media (max-width: 768px) {
          border-right: none;
        }
      }
      &:last-child {
        border-left: 1px solid rgba(108, 115, 138, 0.2);
        padding-right: 0px;
        p {
          margin-bottom: 18px;
          &.terms {
            margin-bottom: 9px;
          }
        }
        @media (max-width: 768px) {
          border-left: none;
        }
      }
    }
    @media (max-width: 768px) {
      display: block;
      .footer-block {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .social-links {
          margin-left: 0px;
          justify-content: center;
        }

        .site-links {
          a {
            text-align: center;
          }
        }

        .form {
          width: 100%;
        }

        .copy-block {
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;
          color: #6C738A;
          text-align: center;
          margin-top: 30px;
        }
      }
      .line-break {
        margin: 30px auto;
        border-top: 1px solid rgba(108, 115, 138, 0.2);
        width: 60%;
        height: 1px;
      }
    }
  }

  .second-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    .store-block{
      width: 33%;
      padding-left: 60px;
    }
    .copy-block {
      width: 66%;
      padding-right: 60px;
      p {
        color: #6C738A;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        margin-bottom: 0px;
        text-align: right;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  &.type2 {
    .first-wrapper {
      .footer-block {
        border-right: none;
        padding: 0;
        width: auto;
      }
      .footer-block:last-child {
        display: none;
      }
    }
    .second-wrapper {
      justify-content: flex-end;
      .store-block {
        display: none;
      }
      .copy-block {
        padding-right: 0px;
      }
    }
  }

  &.french-footer {
    .first-wrapper {
      .footer-block {
        width: 27.5%;
        border-left: 0px;
        &:first-child {
          // margin-top: -50px;
          border-right: 0px;
          p {
            span, a {
              display: block;
              color: #6C738A;
              font-size: 15px;
              font-weight: 400;
              line-height: 30px;
            }
          }
  
        }

        p, label, a {
          color: #6C738A;
        }

        label {
          font-size: 20px;
          font-weight: 600;
        }

        p {
          font-size: 15px;

          .fa {
            color: #6C738A;
            font-size: 20px;
            margin-right: 20px;
            margin-top: 15px;
          }
        }

        a {
          text-decoration: underline;
        }

        &.big {
          width: 45%;
          padding: 0px;

          @media (max-width: 768px) {
            width: 100%;
            align-items: flex-start;
            padding: 0 15px;
          }
        }

        @media (max-width: 768px) {
          width: 100%;
          align-items: flex-start;
          padding: 15px;
        }
      }
    }
  }
}

// .french {
//   footer {
//     .bg-greywhite {
//       background: #3d4147;
//     }
//   }
// }

.footer-hide {
  .footer-widget {
    .trust-wrapper {
      border-bottom: none;
      margin-top: 0;
      padding-bottom: 0;
    }
    .first-wrapper {
      display: none;
    } 
    .second-wrapper {
      display: none;
    }
  }
  
}